/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body {
  display: flex;
  flex-direction: column;
  font-family: 'Patrick Hand', cursive;
  margin: 0;
  padding: 5rem 20%;
}

mat-divider:not([vertical]) {
  margin-block: 2rem;
}
