@let selectedVersionId = selectedQuestionVersionId();
@let answer = currentAnswer();

<h2>Questions</h2>

<div class="questions-layout">
  @if (this.questionService.state().loading) {
    <mat-spinner class="loading"></mat-spinner>
  }
  @if (!this.questionService.state().loading && questions().length === 0) {
    <p>Nothing to show.</p>
  }

  <nav aria-label="Questions navigation">
    <mat-nav-list>
      <mat-list-item (click)="selectQuestion(q.id)"
                     *ngFor="let q of questions(); let i = index; trackBy: trackByQuestionId"
                     [class.selected]="selectedQuestionId() === q.id"
                     class="question-nav-item"
                     role="button"
                     tabindex="0">
        <mat-chip-listbox>
          <mat-chip-option
            [class.chip-correct]="getLatestAnswerForQuestion(q)?.status == 'correct'"
            [class.chip-incorrect]="getLatestAnswerForQuestion(q)?.status == 'incorrect'"
            [selected]="selectedQuestionId() === q.id"
          >
            {{ q.id }}
          </mat-chip-option>
        </mat-chip-listbox>
      </mat-list-item>
    </mat-nav-list>
  </nav>

  <section *ngIf="selectedQuestion() as q" class="question-block">
    <h3>Question {{ q.id }}</h3>

    <mat-tab-group (selectedTabChange)="selectQuestionVersion($event)"
                   *ngFor="let v of selectedQuestion()?.versions; trackBy: trackByVersionId"
                   [selectedIndex]="selectedVersionIndex()" class="full-height">
      <mat-tab label="{{v.versionId}}">
        <div class="question-block">
          <markdown [data]="v.question" clipboard lineHighlight lineNumbers></markdown>

          <!-- Only show answer submission if not already submitted -->
          @if (!answer?.feedback) {
            <mat-form-field appearance="outline"
                            class="full-width">
              <mat-label>Your answer</mat-label>
              <textarea [formControl]="answerControl" matInput rows="6"></textarea>
            </mat-form-field>
            <div class="action-buttons">
              <button (click)="checkAnswer()" mat-flat-button>Check</button>
            </div>
          }
        </div>

        <mat-divider></mat-divider>

        <!--  Feedback  -->
        @if (selectedVersionId && selectedVersionId === v.versionId) {
          <app-feedback [questionVersionId]="selectedVersionId"></app-feedback>
        }
      </mat-tab>
    </mat-tab-group>
  </section>
</div>

<mat-divider></mat-divider>
